
.copyright {
    border-top: 1px solid #5f5f5f;
    font-size: 14px;
    color: #5f5f5f;
    /* margin-bottom: 0px; */
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    margin-top:5%
}

/* End section Fotrer */